html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative; }

.content {
  position: absolute;
  left: 50%;
  top: 50%; }

.background {
  height: 100%;
  width: 100%;
  background: url("http://blog.bonpixel.com/content/images/2014/Sep/carbon-river-1.jpg"); }

.links a {
  display: inline-block;
  margin-left: 10px;
  color: white; }
  .links a:first-child {
    margin-left: 0; }
