@font-face {
  font-family: "clear_sansbold";
  src: url("../font/clearsans/ClearSans-Bold-webfont.eot");
  src: url("../font/clearsans/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-Bold-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-Bold-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "clear_sansbold_italic";
  src: url("../font/clearsans/ClearSans-BoldItalic-webfont.eot");
  src: url("../font/clearsans/ClearSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-BoldItalic-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-BoldItalic-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-BoldItalic-webfont.svg#clear_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "clear_sansitalic";
  src: url("../font/clearsans/ClearSans-Italic-webfont.eot");
  src: url("../font/clearsans/ClearSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-Italic-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-Italic-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-Italic-webfont.svg#clear_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "clear_sans_lightregular";
  src: url("../font/clearsans/ClearSans-Light-webfont.eot");
  src: url("../font/clearsans/ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-Light-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-Light-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "clear_sans_mediumregular";
  src: url("../font/clearsans/ClearSans-Medium-webfont.eot");
  src: url("../font/clearsans/ClearSans-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-Medium-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-Medium-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-Medium-webfont.svg#clear_sans_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "clear_sans_mediumitalic";
  src: url("../font/clearsans/ClearSans-MediumItalic-webfont.eot");
  src: url("../font/clearsans/ClearSans-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-MediumItalic-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-MediumItalic-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-MediumItalic-webfont.svg#clear_sans_mediumitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "clear_sansregular";
  src: url("../font/clearsans/ClearSans-Regular-webfont.eot");
  src: url("../font/clearsans/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-Regular-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-Regular-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-Regular-webfont.svg#clear_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "clear_sans_thinregular";
  src: url("../font/clearsans/ClearSans-Thin-webfont.eot");
  src: url("../font/clearsans/ClearSans-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../font/clearsans/ClearSans-Thin-webfont.woff") format("woff"), url("../font/clearsans/ClearSans-Thin-webfont.ttf") format("truetype"), url("../font/clearsans/ClearSans-Thin-webfont.svg#clear_sans_thinregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "clear_sans_thinregular", sans-serif; }

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -144.5px;
  margin-top: -60px; }

.background {
  height: 100%;
  width: 100%;
  background: url("http://blog.bonpixel.com/content/images/2014/Sep/carbon-river-1.jpg"); }

section {
  padding-bottom: 0;
  border-bottom: none; }

.heading {
  color: white;
  font-family: "clear_sans_thinregular", sans-serif; }

.imagewrap,
.textwrap {
  display: inline-block;
  vertical-align: middle; }

.imagewrap {
  text-align: center; }

.textwrap {
  margin-left: 20px; }
  .textwrap hr {
    margin: 0;
    margin-top: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.5); }

.links {
  margin-top: 30px; }
  .links a {
    display: inline-block;
    margin-left: 10px;
    color: white; }
    .links a:first-child {
      margin-left: 0; }

@media screen and (max-width: 640px) {
  .imagewrap,
  .textwrap {
    display: block; }

  .imagewrap {
    margin-bottom: 30px; }

  .textwrap {
    margin-left: 0; }

  h1.heading {
    margin-bottom: 20px; }

  h2.heading {
    font-size: 1.36rem;
    text-align: center;
    margin-bottom: 30px; }

  .content {
    margin-left: -120.5px;
    margin-top: -161.5px; } }
