html							{overflow: -moz-scrollbars-vertical;	overflow-y: scroll;	overflow-x: auto;}
body							{background: #333333 url('../images/bkg2.jpg');	/*font-size: 62.5%;*/	line-height: 1.5;	text-align: center;}
hr								{width: 100%; height: 2px;}

/*
p								{font-size: 1.2em;}
h1								{font-size: 2.4em;}
h2								{font-size: 2.1em;}
h3								{font-size: 1.8em;}
h4								{font-size: 1.5em;}
h5								{font-size: 1.5em;}
*/

body 							{font-size: 10px;}
h1 								{font-size: 7.0em; margin-bottom: 35px;}
h2 								{font-size: 2.1em; margin-bottom: 10px;}
h3 								{font-size: 1.9em; margin-bottom: 9px;}
h4 								{font-size: 1.7em; margin-bottom: 8px;}
blockquote 						{font-size: 1.5em; margin-bottom: 7px;}
p 								{font-size: 1.25em; margin-bottom: 6px;}
input 							{font-size: 1.0em;  margin-bottom: 5px;}
small 							{font-size: 0.75em;  margin-bottom: 3px;}

.container 						{padding-left: 25px;	padding-right: 25px;	text-align: left;	width: 860px;	margin: 0px auto;	margin-bottom:100px;}

img								{border: 0px;}
img, div, a, input 				{behavior: url(../css/resources/iepngfix.htc) }



/* Fonts */
h1, h2, h3, h4, h5				{font-family: Georgia, serif; font-weight:normal;}
body							{font-family: Helvetica, Geneva, Arial,sans-serif;}
a:link 							{color: #111111; text-decoration: underline;}
a:hover							{color: #bbbbbb; text-decoration: underline;}
a:visited 						{color: #111111; text-decoration: underline;}
a:active 						{color: #aaaaaa; text-decoration: underline;}



/*Global Elements*/
.center							{margin-left: auto; margin-right: auto;}
.center-text					{text-align: center;}
.float-left						{float: left;}
.float-right					{float: right;}
.clear-div						{clear: both;}
.neg-text						{text-indent: -9999px;}

#placeholder					{width: 700px;	visibility:hidden;	position: absolute;}
#toprip 						{display: block; position: relative; z-index: 100;}

/*#toprip						{width:860px;}*/
/*#toprip						{height:35px; background: url('../images/top_rip.png') no-repeat 0px 0px; width: 100%;}*/
/*#bottomrip					{height:35px; background: url('../images/bottom_rip.png') no-repeat 0px 0px; width: 100%;}*/
/*#bottomrip					{margin-left: 25px; margin-right: 25px;}*/
/*#bottomrip img				{display: block; margin-left:25px; margin-right:25px;}*/


/*Titles*/
#titleysw						{text-indent: -9999px; height: 33px; background: url('../images/ysw_t.png') no-repeat;}
#titlerecentprojects			{text-indent: -9999px; height: 18px; background: url('../images/recentprojects.png') no-repeat;}
#titleportfolio					{text-indent: -9999px; height: 27px; background: url('../images/portfolio_t.png') no-repeat;}
#titleabout						{text-indent: -9999px; height: 30px; background: url('../images/about_t.png') no-repeat;}
#titlecontactme					{text-indent: -9999px; height: 30px; background: url('../images/contact_t.png') no-repeat;}
#titlegetaquote					{text-indent: -9999px; height: 33px; background: url('../images/quote_t.png') no-repeat;}

.bonbar							{width: 810px;}
#bonbarimg						{display:block;}




/*Navigation*/
#navigation						{width: 810px;	position: relative;}
#navlist						{position: absolute;	right: 0px;	bottom: 0px;}
#navlist li						{position: relative;	float:left;	list-style-type: none;	margin-left: 4px;	text-align: center;	background-color:#535353;	border: 2px solid #474747;}
#navlist li a					{display: block;	position: relative;	text-decoration:none;	padding-left: 7px;	padding-right: 7px;	padding-top: 3px;	padding-bottom: 33px;	margin-left: 0px;	margin-right: 0px;	z-index:1000;}
#navlist a:link					{color:#dfdfdf; text-decoration: none;}      /* unvisited link */
#navlist a:visited 				{color:#dfdfdf; text-decoration: none;}  /* visited link */
#navlist a:hover 				{color:#000000; text-decoration: none;}  /* mouse over link */
#navlist a:active 				{color:#000000; text-decoration: none;}  /* selected link */



.boncontent						{margin-left: 25px;	margin-right: 25px;	background-color:#fffffa;	position: relative;}
.twocolumn						{width:65%; padding: 2.5%;}
.pdflink						{padding-left: 70px;	height:46px;	line-height:46px;	vertical-align:middle;	background: url('../images/pdf.gif') no-repeat 0px 0px;}
.right_bar						{width: 173px;	padding: 50px 2.5%;	background-color: #e5e5e5;	border: 1px solid #cccccc;}
#pics							{padding: 30px 0px;}
#pics img						{margin:10px;}
.pbutton a						{text-decoration: none; margin-right:10px; position: relative; top: 20px;}
.pbutton img					{width: 70px; height: 70px; float: left;}
#footcontent					{width: 780px;}



img.source-image 				{width: 100%;	position: absolute;	top: 0;	left: 0;}
#calltoaction					{height: 470px;	width: 810px; position: relative;}
#bottom-row						{padding-left: 25px; padding-right: 25px;}




/*Welcome*/
#welcomeheader					{width:810px;	height: 442px;	background: url('../images/calltoaction7.jpg') no-repeat #fffffa; position: relative;}
#welcometext					{position: absolute; top: 20px; left: 40px;}
#welcometext p					{color:#4d4d4d; font-family: Georgia, Serif; font-size:1.6em; float: left; display: block; line-height: 1.4em;}
#welcometext span.shout			{color:#202020; font-weight:bold;}
#welcometext h1					{text-align: left; margin: 0px; font-family: Georgia, Serif; display:block; float: left; width: 215px; line-height: 1em;}
#welcometext .whisper			{color:#aaaaaa; font-size: .7em; padding-left:30px;}
.innerwrap						{width:810px;	margin:0 auto;}

#hireme							{position: absolute; left: 100px; top: 156px; height:25px; width:130px;}
#hireme	a						{display: block; height: 100%; width: 100%; text-indent:-9999px;}
#showme							{position: absolute; right: 80px; bottom: 95px; height:60px; width:108px;}
#showme	a						{display: block; height: 100%; width: 100%; text-indent:-9999px;}	
#getintouch						{height:150px; width:150px; margin:0px auto;}
#getintouch	a					{display: block; height: 150px; width: 150px; background: url('../images/getintouch4.png') no-repeat; text-indent:-9999px;}
	
/*New Portfolio Section*/
#projectcontainer				{width:860px; margin: 0 auto; }
.shadow							{background: url('../images/shadow.png')repeat-y;	width: 860px;}
/*.innerpcontainer				{margin: 0 auto;	height: 390px;	background: url('../images/pbackground2.png') no-repeat top left;}*/
.innerpcontainer				{width: 802px; background: #575757; margin: 0 auto; position: relative; border-left: 1px solid #606060; border-right: 1px solid #606060;}
.innerpcontainer img				{display:block; margin: 0 auto;}
.projectpictures				{float: left;	width: 352px;	/*padding: 25px 25px 25px 24px;*/}
.displaybox						{margin-bottom:25px;	text-align:center;}
.subdisplaybox					{padding-left: 21px;}
.subdisplaybox li 				{position: relative;    float:left;    list-style-type: none;    margin-right: 16px;    text-align: center;    background-color:#535353;	color:#979797;}
.projecttext					{float:right;	width: 352px;	/*padding:25px 24px 25px 25px;*/	color:#d7d7d7;	position: relative;}
.titlebar						{width: 810px;	line-height: 40px;	vertical-align:middle;	margin: 0 auto;	background-color:#fffffa;}
.titlebar a						{margin-left:20px;	text-decoration: none;	display:block;	font-weight:normal;}
.titlebar h2					{margin-bottom: 0px;}
#projectcontainer hr			{border: 0px;	color:#999999;	background-color:#999999;	width:790px;	height: 1px;	margin:0px auto;}
#projectheader					{width:810px;	height: 200px;	line-height:200px;	text-indent:-9999px;	padding-bottom: 25px; background: url('../images/projectsheader6.jpg') no-repeat #fffffa;}	
.linktoproject					{position:absolute;	right:0px;	bottom:0px;}	
	
	
	
/*About*/
#aboutheader					{width:810px;	height: 200px;	line-height:200px;	text-indent:-9999px;	background: url('../images/aboutheader.jpg') no-repeat #fffffa;}	
#contentpagewrapper				{width: 760px;	background: #fffffa;	margin: 0 auto;	padding: 25px;}
#textdescription				{margin-right: 25px;	width: 470px;	float:left;}
#cvsection						{padding: 25px;	background-color: #dddddd;}
#skills							{width: 517px; color: #DDDDDD;}	

	
	
/*Contact Form*/
#contactheader					{width:810px;	height: 200px;	line-height:200px;	text-indent:-9999px;	background: url('../images/cheader.jpg') no-repeat #fffffa;}	
#firstcontcact					{line-height:2.5em; }
#firstcontact input.textinputboxes	{width:97%; height:20px; border:1px solid #cccccc; padding:2px; padding-left: 5px; margin-bottom: 7px; font-family: Verdana, Arial, Helvetica, sans-serif;}
#firstcontact textarea 			{vertical-align:top; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}	
#firstcontact #typehere			{width: 164px; padding:5px; border:1px solid #cccccc;}
#firstcontact #placeholderbox	{width: 15%; margin-left:7px; height:91px; border: 1px solid #cccccc; background-color: #eeeeee; display: block; text-indent: -9999px; float: right;}


#quoteform input.textinputboxes	{width:197px; height:20px; border:1px solid #cccccc; padding:2px; padding-left: 5px; margin-bottom: 7px; margin-right: 25px; font-family: Verdana, Arial, Helvetica, sans-serif; }
#quoteform textarea 			{vertical-align:top; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }	
#quoteform #typehere			{width: 517px;  height:146px; padding:5px; border:1px solid #cccccc; margin-bottom: 7px;}
#quoteform #placeholderbox		{width: 15%; margin-left:7px; height:91px; border: 1px solid #cccccc; background-color: #eeeeee; display: block; text-indent: -9999px; float: right;}

#address						{color: #979797; width: 154px; float: left; margin-right: 25px;}
#map_canvas						{background-color: #dddddd; width: 573px; height: 300px; float: left;}


/*div#namebox,div#emailbox,div#commentbox	{margin-bottom: 7px;}*/

.unactive						{border: 1px solid #DFDFDF; background-color:#eeeeee;}
.active							{border: 1px solid #73A6FF; background-color:#eff5ff;}
textarea#styled					{width: 600px;	height: 120px;	border: 3px solid #cccccc;	padding: 5px;	font-family: Tahoma, sans-serif;	background-image: url(bg.gif);	background-position: bottom right;	background-repeat: no-repeat;}
	

#pagecenter						{background: url('../images/pagecenter2.png') repeat-y 0px 0px;}
#actualcontent					{background-color:#fffffa;	width: 700px;	padding: 20px 40px;	text-align:left;}
#bonwrapper						{width: 940px;}
#bonbody						{position: relative;	width: 810px;	margin-bottom: 115px;	text-align: left;	overflow: visible;}
#bonlogo						{position: relative;    left: -50px;    height: 135px;}



/*Portfolio Section*/
* 								{margin: 0; padding: 0;}
img 							{border: none;}
/*
h1 								{font: 5em normal Georgia, 'Times New Roman', Times, serif;	text-align:center;	margin-bottom: 20px;}
h1 span 						{color: #e7ff61;}
h1 small 						{font: 0.2em normal Verdana, Arial, Helvetica, sans-serif;	text-transform:uppercase;	letter-spacing: 1.5em;	display: block;	color: #ccc;}
*/
ul.display 						{float: left;	width: 698px;	margin: 0;	padding: 0;	list-style: none;	border-top: 1px solid #fffffa;	border-right: 1px solid #fffffa;	background: #fffffa;}
ul.display li 						{float: left;	width: 698px;	padding: 10px 0;	margin: 0;	border-top: 1px solid #dddddd;	border-right: 1px solid #fffffa;	border-bottom: 1px solid #eeeeee;	border-left: 1px solid #FFFFFA;}
ul.display li a 					{color: #123456;	text-decoration: none;}
ul.display li .content_block 		{padding: 0 10px;}
ul.display li .content_block h2 	{margin: 0;	padding: 5px;	font-weight: normal;	font-size: 1.7em;}
ul.display li .content_block p 		{margin: 0;	padding: 5px 5px 5px 245px;	font-size: 1.2em;}
ul.display li .content_block a img	{padding: 5px;	border: 2px solid #ccc;	background: #fff;	margin: 0 15px 0 0;	float: left;}
ul.thumb_view li 					{width: 230px;}
ul.thumb_view li h2 				{display: inline;}
ul.thumb_view li p 					{display: none;}
ul.thumb_view li .content_block a img {margin: 0 0 10px;}
a.switch_thumb 					{width: 122px;	height: 26px;	line-height: 26px;	padding: 0;	margin: 0px 0;	display: block;	background: url(http://www.bonpixel.com/images/switch.gif) no-repeat;	outline: none;	text-indent: -9999px;}
a:hover.switch_thumb 			{filter:alpha(opacity=75);	opacity:.75;	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}
a.swap 							{background-position: left bottom; }




/*Lightbox Section*/
.black_overlay					{display: none;	position: absolute;	top: 0%;	left: 0%;	width: 100%;	height: 100%;	background-color: black;	z-index:1001;	-moz-opacity: 0.7;	opacity:.70;	filter: alpha(opacity=70);}
.white_content 					{display: none;	position: absolute;	top: -315px;	left: 50%;	margin-left: -160px;	width: 320px;	height: 630px;	padding: 16px;	border: 5px solid orange;	background-color: white;	z-index:1002;	overflow: auto;}
.horizon						{position: absolute;	top: 50%;	width: 100%;	height: 0px;	overflow: visible;}




/*About Section*/
/*#horizon2						{position: absolute;	top: 50%;	width: 100%;	height: 1px;	overflow: visible;	background: #000;}*/
#contactme						{width: 200px;	height: 524px;	position: absolute;	right: 0px;}
div#contactbkg					{background: url('../images/tab.png') no-repeat 0 0;	width: 20px;	height: 524px;	position: relative;}
#contacttab						{position: absolute;	display: block;	top: -14px;	right: 2px;	width: 10px;	height: 28px;	text-decoration: none;}






.innershadowtop					{background: url('../images/innershadowtop.png') repeat-x top left;  }
.innershadowbottom				{background: url('../images/innershadowbottom.png') repeat-x bottom left; padding: 25px;}
#homeblayer						{width: 802px; margin: 0 auto; position: relative; border-left: 1px solid #606060; border-right: 1px solid #808080; left: 267px;}
.ishadow						{background: url('../images/ishadow.png') repeat-y; width: 860px;}
	
#customerquotes					{padding: 0px 25px 0px 0px;	width: 217px;}
#recentprojects					{padding: 0px 25px 0px 25px;	width: 218px;}
#rightbox						{padding: 0px 0px 0px 25px; width: 217px;} 
/*#rightboxinner					{padding: 25px;}*/

#homecontentwrap				{overflow: hidden; width: 804px; margin: 0 auto;}
#leftside 						{float: left; width: 100%; position: relative; right: 267px; background:#575757;}
#rightside 						{float: left; width: 100%; position: relative; background:#868686;}/*#6F906F*/



/* customer quotes */
#customerquotes					{ position: relative;}
/*
#customerquotes blockquote		{font-family: Helvetica, Geneva, Arial,sans-serif; color: #000000; font-size:1.2em; font-style:italic; quotes: "\201C\ " " \201D";}
*/
#customerquotes blockquote		{font-family: Helvetica, Geneva, Arial,sans-serif; color: #000000; font-size:1.2em; font-style:italic; quotes: "\201c" "\201d" "\2018" "\2019";}

#customerquotes blockquote:before 	{content: "\201c\ "; font-weight: bold; }
#customerquotes blockquote:after 	{content: " \201d"; font-weight: bold; }

#cname							{text-align: right; font-size: 1.5em; color:#888888;}
#ccompany						{text-align: right; font-size: 1.0em; color:#777777;}

/*
blockquote {
display: block;
padding: 0 60px;
width: 350px;
}

blockquote:before, blockquote:after {
color: #69c;
display: block;
font-size: 700%;
width: 50px;
}

blockquote:before {
content: open-quote;
height: 0;
margin-left: -0.55em;
}

blockquote:after {
content: close-quote;
height: 50px;
margin-top: -70px;
margin-left: 360px;
}
*/





/*Sticky Footer Section*/
/*Sticky Footer Solution	by Steve Hatcher	http://stever.ca	http://www.cssstickyfooter.com*/

* 								{margin:0;padding:0;} 
								/* must declare 0 margins on everything, also for main layout components use padding, not vertical margins (top and bottom) to add spacing, 
								else those margins get added to total height and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */
html, body 						{height: 100%;}
#wrap 							{min-height: 100%;	text-align: center;}
#main 							{overflow:auto;	padding-bottom: 140px;}  /* must be same height as the footer */
#footer 						{position: relative;	margin-top: -140px; /* negative value of footer height */	height: 140px;	clear:both;	background: url('../images/bottombar2.png') repeat-x;	overflow: visible;}
#footer a						{color:#747474;	text-decoration:none;}
#footer a:hover					{color: #ffffff;}
#bottomlogo						{position: absolute;	top:-51px;	right:-40px;}
#footcontent					{color:#FFFFFF;	padding:20px;	text-align: left;	position: relative;}
#footcontent ul					{width:200px;	margin-bottom:20px;	overflow:hidden;}
#footcontent li					{line-height:1.5em;	float:left;	display:inline;}

.double li  					{width:50%; float: left;} /* 2 col */
.triple li  					{width:33.333%; float: left;} /* 3 col */
.quad li    					{width:25%; float: left;} /* 4 col */
.six li  						{width:16.666%; float: left;} /* 6 col */
/*Opera Fix*/
body:before 					{/* thanks to Maleika (Kohoutec)*/	content:"";	height:100%;	float:left;	width:0;	margin-top:-32767px;/* thank you Erik J - negate effect of float*/}
/* IMPORTANT
You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
<style type="text/css">
#wrap {display:table;height:100%}
</style>
<![endif]-->
*/



/*jQuery S3Slider Section*/
#s3slider 						{width: 810px; /* important to be same as image width */	height: 470px; /* important to be same as image height */	position: relative; /* important */	overflow: hidden; /* important */}
#s3sliderContent 				{width: 810px; /* important to be same as image width or wider */	position: absolute; /* important */	top: 0; /* important */	margin-left: 0; /* important */}
.s3sliderImage 					{float: left; /* important */	position: relative; /* important */	display: none; /* important */}
.s3sliderImage span 			{position: absolute; /* important */	left: 0;	font: 10px/15px Arial, Helvetica, sans-serif;	padding: 10px 13px;	width: 374px;	background-color: #000;	
								filter: alpha(opacity=70); /* here you can set the opacity of box with text */	-moz-opacity: 0.7; /* here you can set the opacity of box with text */
								-khtml-opacity: 0.7; /* here you can set the opacity of box with text */	opacity: 0.7; /* here you can set the opacity of box with text */	color: #fff;	display: none; /* important */
								top: 0;	/*	if you put
								top: 0; -> the box with text will be shown at the top of the image 
								if you put
								bottom: 0; -> the box with text will be shown at the bottom of the image
								*/}
.clear 							{clear: both;}
span.noshow 					{margin-left: 10000px;}