!DOCTYPE html
html
	head

		title Bryan Nichols | Web Developer | nicholsbryan@gmail.com
		meta(http-equiv="content-type", content="text/html; charset=utf-8")

		meta(name="keywords", content="")
		meta(name="description", content="")

		link(rel="stylesheet", type="text/css", href="yui3.css", media="all")
		link(rel="stylesheet", type="text/css", href="resume.css", media="all")


	body

	div#doc
		div#inner.yui3-g

			header#hd.yui3-u-1
				div.yui3-u-1-2
					h1 Bryan Nichols
					h2 Web Developer


				div.yui3-u-1-4
					div.contact-info
						h3
							a#pdf(href="#") Download PDF
						h3
							a(href="mailto:nicholsbryan@gmail.com") nicholsbryan@gmail.com
						h3 (425) - 679-9123





			div#main




				//- Profile
				section.profile
					div.yui3-u-1-2
						h1 Profile

					div.yui3-u-1-2
						p.enlarge Build the web. Change the world. Have fun doing it.




				//- Employment
				section.employment
					div.yui3-u-1-4
						h1 Employment

					//- TAG Creative
					div.yui3-u-1-4
						div.subtitle.position
							h2 Interactive Developer
							h3 9/2012 - Present
					div.yui3-u-1-2
						div.description
							:markdown
								[Tag Creative](href="http://tagcreativestudio.com")

					//- Stripes39
					div.yui3-u-1-4
					div.yui3-u-1-4
						div.subtitle.position
							h2 Web Developer
							h3 7/2011 – 7/2012
					div.yui3-u-1-2
						div.description
							p Stripes39 I was in charge of overseeing the creation of several web properties from start to finish. Generally this meant taking comps from our creative department and turning them into highly customized websites with Wordpress CMS. I launched several sites during my time at Stripes39 including one that saw over 9000 hits per day.

					//- Media Tools
					div.yui3-u-1-4
					div.yui3-u-1-4
						div.subtitle.position
							h2 Web Developer
							h3 2/2005 – 7/2011
					div.yui3-u-1-2
						div.description
							p Media Tools Designs and builds non-linear video edition solutions and storage solutions for companies around the greater seattle area




				//- Experience
				section.experience
					div.yui3-u-1-3
						h1 Experience




				//- Skills
				section.skills
					div.yui3-u-1-4
						h1 Skills

					div.yui3-u-1-4
						div.talent
							h2 Javascript
							p Assertively exploit wireless initiatives rather than synergistic core competencies.

					div.yui3-u-1-4
						div.talent
							h2 HTML5
							p Credibly streamline mission-critical value with multifunctional functionalities.

					div.yui3-u-1-4
						div.talent
							h2 CSS3
							p Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.




				//- Technical
				section.technical
					div.yui3-u-1-4
						h1 Technical

					div.yui3-u-1-4
						div.subtitle
							h2 Proficiencies

					div.yui3-u-1-2
						div.description
							p Javascript / CSS3 / HTML5 / Jquery / PHP / Ruby / CVS / Subversion / Git / OS X / Windows XP/Vista / CLI / Linux / Windows 8 / WinJS / Sass / Compass / Grunt / Scut / Bower / Boxen / Yeoman / RequireJS / AMD / Sublime Text / Digital Ocean / SSH / Mac / iTerm2 / MAMP / WAMP / Backbone / Underscore / Gulp / JSON / AJAX / Canvas




				//- Education
				section.education
					div.yui3-u-1-4
						h1 Education

					div.yui3-u-1-4
						div.subtitle.date
							h2 1/2008 – 1/2011

					div.yui3-u-1-2
						div.description
							p Western Governors University - Salt Lake City, Utah
							p Bachelor of Science: Information Technology with an emphasis on software
							small * Some Coursework Completed,

					div.yui3-u-1-4
					div.yui3-u-1-4
						div.subtitle.date
							h2 1/2008 – 1/2011
					div.yui3-u-1-2
						div.description
							p CIW Web Associate Certification

					div.yui3-u-1-4
					div.yui3-u-1-4
						div.subtitle.date
							h2 1/2009
					div.yui3-u-1-2
						div.description
							p CompTIA A+ Certification

					div.yui3-u-1-4
					div.yui3-u-1-4
						div.subtitle.date
							h2 5/2009
					div.yui3-u-1-2
						div.description
							p CIW JavaScript Fundamentals

					div.yui3-u-1-4
					div.yui3-u-1-4
						div.subtitle.date
							h2 4/2011
					div.yui3-u-1-2
						div.description
							p Mac Integration Basics 10.6

					div.yui3-u-1-4
					div.yui3-u-1-4
						div.subtitle.date
							h2 4/2011
					div.yui3-u-1-2
						div.description
							p OS X Snow Leopard 10.6 Support Essentials




			div#ft
				p Bryan Nichols &mdash;
					a(href="mailto:nicholsbryan@gmail.com") nicholsbryan@gmail.com










