!DOCTYPE html
html
	head

		title Bryan Nichols | Web Developer | nicholsbryan@gmail.com
		meta(http-equiv="content-type", content="text/html; charset=utf-8")

		meta(name="keywords", content="")
		meta(name="description", content="")

		link(rel="stylesheet", type="text/css", href="yui3.css", media="all")
		link(rel="stylesheet", type="text/css", href="resume.css", media="all")


	body

	div#doc
		div#inner.yui3-g

			header#hd.yui3-u-1
				div.yui3-u-1-2
					h1 Bryan Nichols
					h2 Web Developer


				div.yui3-u-1-4
					div.contact-info
						h3
							a#pdf(href="#") Download PDF
						h3
							a(href="mailto:nicholsbryan@gmail.com") nicholsbryan@gmail.com
						h3 (425) - 679-9123





			div#main

				section.profile
					div.yui3-u-1-2
						h1 Profile

					div.yui3-u-1-2
						p.enlarge Build the web. Change the world. Have fun doing it.


				//- Employment
				section.employment
					div.yui3-u-1-4
						h1 Employment

					//- TAG
					div.yui3-u-1-4
						div.position
							h2 Interactive Developer
							h3 9/2012 - Present
					div.yui3-u-1-2
						div.description
							:markdown
								[Tag Creative](href="http://tagcreativestudio.com")

					//- Stripes
					div.yui3-u-1-4
					div.yui3-u-1-4
						div.position
							h2 Web Developer
							h3 7/2011 – 7/2012
					div.yui3-u-1-2
						div.description
							p Stripes39 I was in charge of overseeing the creation of several web properties from start to finish. Generally this meant taking comps from our creative department and turning them into highly customized websites with Wordpress CMS. I launched several sites during my time at Stripes39 including one that saw over 9000 hits per day.

					//- Media Tools
					div.yui3-u-1-4
					div.yui3-u-1-4
						div.position
							h2 Web Developer
							h3 2/2005 – 7/2011
					div.yui3-u-1-2
						div.description
							p Media Tools Designs and builds non-linear video edition solutions and storage solutions for companies around the greater seattle area




				//- Experience
				section.experience
					div.yui3-u-1-3
						h1 Experience


				section.skills
					div.yui3-u-1-3
						h1 Skills

					div.yui3-u

						div.talent
							h2 Javascript
							p Assertively exploit wireless initiatives rather than synergistic core competencies.

						div.talent
							h2 HTML5
							p Credibly streamline mission-critical value with multifunctional functionalities.

						div.talent
							h2 CSS3
							p Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.






				//- Technical
				section.technical
					div.yui3-u-1-3
						h1 Technical

					div.yui3-u-3-4
						ul.yui3-u-1-4.talent
							li Javascript
							li CSS3
							li HTML5
							li.last Node

						ul.yui3-u-1-4.talent
							li Jquery
							li PHP
							li Ruby
							li.last CVS / Subversion / Git

						ul.yui3-u-1-4.talent
							li OS X
							li Windows XP/Vista
							li CLI
							li.last Linux






				//- Education
				div.yui3-g.last
					div.yui3-u-1-3
						h1 Education

					div.yui3-u

						div.yui3-u-1-4.date
							h2 1/2008 – 1/2011

						div.yui3-u-1-2.content
							h2 Western Governors University - Salt Lake City, Utah
							small Some Coursework Completed,
							h3 Bachelor of Science: Information Technology with an emphasis on software


						div.yui3-u-1-4.date
							h2 1/2008 – 1/2011
						div.yui3-u-1-2.content
							h2 CIW Web Associate Certification – 4/2008


						div.yui3-u-1-4.date
							h2 1/2009
						div.yui3-u-1-2.content
							h2 CompTIA A+ Certification


						div.yui3-u-1-4.date
							h2 5/2009
						div.yui3-u-1-2.content
							h2 CIW JavaScript Fundamentals


						div.yui3-u-1-4.date
							h2 4/2011
						div.yui3-u-1-2.content
							h2 Mac Integration Basics 10.6


						div.yui3-u-1-4.date
							h2 4/2011
						div.yui3-u-1-2.content
							h2 OS X Snow Leopard 10.6 Support Essentials


			div#ft
				p Bryan Nichols &mdash;
					a(href="mailto:nicholsbryan@gmail.com") nicholsbryan@gmail.com










