@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
.msg {
  padding: 10px;
  background: #222222;
  position: relative; }
  .msg h1 {
    color: white; }
  .msg a {
    margin-left: 20px;
    background: #408814;
    color: white;
    padding: 4px 8px;
    text-decoration: none; }
    .msg a:hover {
      background: #266400; }

/* //-- yui3-grids style overrides -- */
#doc {
  width: 1080px;
  margin: 0 auto; }

#inner {
  padding: 10px 80px;
  margin: 80px auto;
  background: whitesmoke;
  border: solid #666666;
  border-width: 8px 0 2px 0; }

section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #cccccc; }

/* //-- header, body, footer -- */
#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #cccccc; }
  #hd h2 {
    text-transform: uppercase;
    letter-spacing: 2px; }

#main, #ft {
  margin-bottom: 2em; }

/* //-- footer -- */
#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #cccccc;
  text-align: center; }
  #ft p {
    margin-bottom: 0;
    text-align: center; }

body {
  background-color: #444444;
  font-size: 12px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333333; }

p {
  margin-bottom: 1.3rem; }

h1, h2, h3, h4 {
  font-family: "Libre Baskerville", serif;
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
  margin-top: 10px; }

h1 {
  margin-top: 0;
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

small,
.font_small {
  font-size: 0.75rem; }

section h1 {
  font-size: 1.56rem; }
section h2 {
  font-size: 0.96rem; }
section h3 {
  font-size: 0.72rem; }
section small {
  font-size: 0.6rem;
  color: #777777; }
section .subtitle {
  margin-right: 20px;
  margin-bottom: 0.9rem; }
  section .subtitle h2, section .subtitle h3 {
    text-align: right; }
  section .subtitle h2 {
    margin-top: 7px; }
  section .subtitle h3 {
    margin-top: -5px; }
section .description {
  margin-bottom: 0.9rem; }
  section .description p {
    margin-top: 0.35rem; }

a {
  color: #990003; }
  a:hover {
    text-decoration: none; }

strong {
  font-weight: bold; }

li {
  line-height: 24px;
  border-bottom: 1px solid #cccccc; }

.contact-info {
  margin-top: 7px; }

.last {
  border-bottom: 0; }

/* //-- section styles -- */
a#pdf {
  display: block;
  float: left;
  background: #666666;
  color: white;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none; }
  a#pdf:hover {
    background: #222222; }

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #cccccc; }
  .job h4 {
    position: absolute;
    top: 0.35em;
    right: 0; }
  .job p {
    margin: 0.75em 0 3em 0; }

.education .description p {
  margin-bottom: 0.35rem; }

.presence .talent {
  margin-left: 20px; }
