body{
	background: #333333 url('../images/bkg2.jpg');
	font-size: 62.5%; 
	line-height: 1.5; 
	text-align: center;}

hr{width: 100%; height: 2px;}

p{font-size: 1.2em;}
h1{font-size: 3.2em;}
h2{font-size: 2.7em;}
h3{font-size: 2.2em;}
h4{font-size: 1.7em;}
h5{font-size: 1.2em;}

img{border: 0px;}


/* Fonts */

h1, h2, h3, h4, h5{ font-family: Georgia, serif;}
body{ font-family: Helvetica, Geneva, Arial,sans-serif;}







/*a:link {color:#dfdfdf;}      /* unvisited link */
/*a:visited {color:#dfdfdf;}  /* visited link */
/*a:hover {color:#FFFFFF;}  /* mouse over link */
/*a:active {color:#000000;}  /* selected link */


a:link {color: #111111; text-decoration: underline;}
a:hover {color: #bbbbbb; text-decoration: underline;}
a:visited {color: #111111; text-decoration: underline;}
a:active {color: #aaaaaa; text-decoration: underline;}


.center {margin-left: auto; margin-right: auto;}
.center-text{text-align: center;}
.float-left{float: left;}
.float-right{float: right;}
.clear-div{clear: both;}
.neg-text{text-indent: -9999px;}


#placeholder{
	width: 700px;
	visibility:hidden;
 	position: absolute;
}

#titleysw{ text-indent: -9999px; height: 33px; background: url('../images/ysw_t.png') no-repeat;}
#titlerecentprojects{ text-indent: -9999px; height: 18px; background: url('../images/recentprojects.png') no-repeat;}
#titleportfolio{ text-indent: -9999px; height: 27px; background: url('../images/portfolio_t.png') no-repeat;}
#titleabout{ text-indent: -9999px; height: 30px; background: url('../images/about_t.png') no-repeat;}
#titlecontactme{ text-indent: -9999px; height: 30px; background: url('../images/contact_t.png') no-repeat;}
#titlegetaquote{ text-indent: -9999px; height: 33px; background: url('../images/quote_t.png') no-repeat;}
	
.bonbar{width: 820px;}
#bonbarimg{display:block;}

#navigation{
	width: 780px;
	position: relative;}

#navlist{
	position: absolute;
	right: 0px;
	bottom: 10px;}

#navlist li{
	display: inline;
	float:left;
	list-style-type: none;
	padding-left: 5px;
	text-align: center;}

#navlist li a{
	display: block; 
	text-decoration:none; 
	background-color:#535353;
	border: 2px solid #474747;
	
	padding-left: 7px;
	padding-right: 7px;}

#navlist a:link {color:#dfdfdf; text-decoration: none;}      /* unvisited link */
#navlist a:visited {color:#dfdfdf; text-decoration: none;}  /* visited link */
#navlist a:hover {color:#FFFFFF; text-decoration: none;}  /* mouse over link */
#navlist a:active {color:#000000; text-decoration: none;}  /* selected link */

/*#navlist li a:hover {color: #000000; background-color:#d3d3d3;	border: 2px solid #999999;}  /* mouse over link */
/*#navlist li a:active {color: #dfdfdf; background-color:#d3d3d3; border: 2px solid #999999;}  /* selected link */


#boncontent{width: 820px; text-align:center;}

.twocolumn{width:65%; padding: 2.5%;}
.pdflink{
	padding-left: 70px;
	height:46px;
	width: 50px;
	line-height:46px;
	vertical-align:middle;
	background: url('../images/pdf.gif') no-repeat 0px 0px;}

.right_bar{
width: 173px;
padding: 50px 2.5%;
background-color: #e5e5e5;
border: 1px solid #cccccc;}

#pics{ padding: 30px 0px;}

#pics img{
	margin:10px;}
	

.pbutton a{ text-decoration: none; margin-right:10px; position: relative; top: 20px;}
.pbutton img{ width: 70px; height: 70px; float: left;}

#footcontent{width: 780px;}

#toprip{height:50px; background: url('../images/pagerip.png') no-repeat 0px 0px;}
#bottomrip{height:50px; background: url('../images/pagerip.png') no-repeat 0px -50px;}

#pagecenter{background: url('../images/pagecenter2.png') repeat-y 0px 0px;}
#actualcontent{
	background-color:#fffffa; 
	width: 700px;
	padding: 20px 40px;
	text-align:left;}



#bonwrapper{width: 940px;}
#bonbody{	
	position: relative;
	width: 820px;
	margin-bottom: 115px;
	text-align: left;
	overflow: visible;}

#bonlogo{
	position: relative;
	left: -100px;}


/********************************************** Portfolio Section ***********************************************/
* {margin: 0; padding: 0;}
img {border: none;}

h1 {
    font: 5em normal Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    margin-bottom: 20px;}

h1 span {color: #e7ff61;}

h1 small {
    font: 0.2em normal Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    letter-spacing: 1.5em;
    display: block;
    color: #ccc;}

.container {
    width: 698px;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden;}

#container{text-align: left;}
	
ul.display {
    float: left;
    width: 698px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #FFFFFA;
    border-right: 1px solid #FFFFFA;
    background: #FFFFFA;}

ul.display li {
    float: left;
    width: 698px;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #FFFFFA;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #FFFFFA;}

ul.display li a {
    color: #123456;
    text-decoration: none;}

ul.display li .content_block {padding: 0 10px;}

ul.display li .content_block h2 {
    margin: 0;
    padding: 5px;
    font-weight: normal;
    font-size: 1.7em;}

ul.display li .content_block p {
    margin: 0;
    padding: 5px 5px 5px 245px;
    font-size: 1.2em;}

ul.display li .content_block a img{
	
    padding: 5px;
    border: 2px solid #ccc;
    background: #fff;
    margin: 0 15px 0 0;
    float: left;}


ul.thumb_view li {width: 230px;}
ul.thumb_view li h2 {display: inline;}
ul.thumb_view li p {display: none;}
ul.thumb_view li .content_block a img {margin: 0 0 10px;}

a.switch_thumb {
    width: 122px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    margin: 0px 0;
    display: block;
    background: url(http://www.bonpixel.com/images/switch.gif) no-repeat;
    outline: none;
    text-indent: -9999px;}

a:hover.switch_thumb {
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}

a.swap { background-position: left bottom; }
/********************************************** END Portfolio Section ***********************************************/





/********************************************** Lightbox Section ***********************************************/
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}
 
.white_content {
	display: none;
	position: absolute;
	top: -315px;
	left: 50%;
	margin-left: -160px;
	width: 320px;
	height: 630px;
	padding: 16px;
	border: 5px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}


.horizon{
position: absolute;
top: 50%;
width: 100%;
height: 0px;
overflow: visable;}
/********************************************** END lightbox Section ***********************************************/

	
	
	
/********************************************** About Section ***********************************************/
/*
#horizon2{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	overflow: visable;
	background: #000;}
*/

#contactme{ 
	width: 200px;
	height: 524px;
	position: absolute;
	right: 0px;
	}

div#contactbkg{
	background: url('../images/tab.png') no-repeat 0 0;
	width: 20px;
	height: 524px;
	position: relative;}

#contacttab{
	position: absolute;
	display: block;
	top: -14px;
	right: 2px;
	width: 10px;
	height: 28px;
	text-decoration: none;}
/********************************************** END About Section ***********************************************/



/********************************************** Sticky Footer Section ***********************************************/
/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */


html, body {height: 100%;}

#wrap {min-height: 100%; text-align: center;}

#main {overflow:auto;
	padding-bottom: 140px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -140px; /* negative value of footer height */
	height: 140px;
	clear:both;

	background: url('../images/bottombar2.png') repeat-x;}

#footer a{
color:#747474;
text-decoration:none;}

#footer a:hover{color: #FFFFFF;}

#bottomlogo{
	position: absolute;
	top:-51px;
	right:-40px;}

#footcontent{color:#FFFFFF; padding:20px; text-align: left; position: relative;}

#footcontent ul{
	width:200px;
	margin-bottom:20px;
	overflow:hidden;}

#footcontent li{
	line-height:1.5em;
	float:left;
	display:inline;}

.double li  { width:50%;} /* 2 col */
#triple li  { width:33.333%; } /* 3 col */
#quad li    { width:25%; } /* 4 col */
#six li     { width:16.666%; } /* 6 col */


/*Opera Fix*/

body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/
/********************************************** END Sticky Footer Section ***********************************************/


